<div class='alert alert-success ms-3 mt-5'>

	<h3>Tu pago fue exitoso</h3>
	<p>
		En breve recibiras un correo con toda la información de tu compra.
		Recuerda que todo producto que no tenga stock en este momento, permanecerá
		en tu carrito para que puedas adquirirlo cuando vuelva a estar disponible.
		Muchas gracias por confiar en nosotros.
	</p>

</div>

<button class='ms-3 btn btn-dark border border-dark shadow mt-3'>
	<a href='/products' style='color: white; text-decoration: none;'>Ir al Inicio</a>
</button>