<div class='alert alert-danger ms-3 mt-5'>

	<h3>No se pudo efectuar tu pago en la plataforma de Mercado Pago</h3>
	<p>Quedate tranquilo que tus productos permanecerán en tu carrito hasta que
		puedas hacerlo.</p>

</div>

<button class='ms-3 btn btn-dark border border-dark shadow mt-3'>
	<a href='/products' style='color: white; text-decoration: none;'>Ir al Inicio</a>
</button>