<div class='alert alert-dark ms-3 mt-5'>

	<h3>Tu pago fue aprobado pero aún está pendiente de acreditación</h3>
	<p>Quedate tranquilo nos pondremos en contacto contigo una vez acreditado el
		pago, para coordinar la entrega de tu compra. Muchas gracias por confiar
		en nosotros.</p>

</div>

<button class='ms-3 btn btn-dark border border-dark shadow mt-3'>
	<a href='/products' style='color: white; text-decoration: none;'>Ir al Inicio</a>
</button>